@import "tailwindcss";

@theme {
  --color-primary: #7c4ee0;

  --color-foreground: #333333;
  --color-secondary: #666666;
  --color-muted: #999999;

  --color-white: #ffffff;

  --breakpoint-xs: 22rem;
  --breakpoint-tablet-sm: 27rem;

  --font-body: var(--font-roboto);
  --font-heading: var(--font-raleway);
}

/* @layer components {
  .container-custom {
    @apply w-full max-w-7xl mx-auto px-4;
  }
} */
